* {
    font-family: 'Ubuntu', sans-serif;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
#lente {
    background-color: white;
}



.mobile-container {
    width:100%;
    margin: 0px;
    padding: 0px;
    background-color:black;
    height: 100px;
    color: white;
    border-radius: 10px;
    /**/
    width: 95%;
    margin: 0 auto;

    background-color: black;
    height: 100px;
    color: white;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: #4CAF50;
    display: block;
    border-left: 1px white solid;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}
.news {
    border-bottom: 1px solid grey;
}

.datum_naam {
    margin-left: 5px;
}

/*BUTTON*/




.titel_h4 {
    margin-left: 5px;
    color: #333333;
}

.datum_naam {
    color: grey;
}

.knop_divje {
    margin-left:3%;
}
.tekst_blokje {
    background-color:white;
    color: lightgray;
    margin-left: 5px;
    margin-right: 5px;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
.box_een {
    background-color: white;
    width: 100%;
    height: 40%;
    margin-bottom: 10px;
    border: solid 2px gray;
}




.more {
    display: none;
}

#mijn_eerste_knop {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#mijn_tweede_knop {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#mijn_derde_knop {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#mijn_vierde_knop {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#mijn__knop {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.h1_h1_box {
    margin-top: -10px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
    border-radius: 15px;
    height: 90%;
}



.h1_h1 {
    width: 100%;
    display: block;
    margin-top: 10px;
    color: white;

}

.berichten {
    margin-top: 2px;
    background-color: white;
    width: 100%;
    height: 40%;
    margin-bottom: 10px;
    border: solid 2px forestgreen;

}

h2 {
    padding: 0px;
    margin: 0px;
}
.tekst_berichten {
    transform: translateY(15px);
    margin-left: 60px;
    width: 300px;
    background-color: white;
    color: black;
    font-size: 13px;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.border_bottem{
    display: flex;
    justify-content: center;
    justify-items: center;
    border-bottom: 1px solid grey;
    margin: 0 auto;
    padding: 7px;
    margin-left: 50px;
    margin-right: 50px;
}

#plaats_links_een {
    color: #333333;
    display: flex;
    justify-items: left;
    justify-content: left;
    margin-top: 10px;
}
#plaats_links_twee {
    display: flex;
    justify-items: left;
    justify-content: left;
    color: #333333;
}
#plaats_links_drie {
    display: flex;
    justify-items: left;
    justify-content: left;
    color: #333333;
}
#plaats_links_vier {
    display: flex;
    justify-items: left;
    justify-content: left;
    margin-bottom: 15px;
    color: #333333;
}
#plaats_links_vijf {
    display: flex;
    justify-items: left;
    justify-content: left;
    color: #333333;

}
#plaats_links_zes {
    color: #333333;
    display: flex;
    justify-items: left;
    justify-content: left;
    margin-bottom: 15px;
}
.tekst_berichten_h2 {
    transform: translateY(4px);
    margin-left: 60px;
    width: 300px;
    background-color: white;
    color: black;
    font-size: 13px;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.linkjes {
    color: black;
    text-decoration: none;
}
#arch_body {
    background-color: sandybrown;
    background-color: white;
    margin: 0px;
}
.arch_container {
    background-color: white;
    width: 100%;
    background-color: white;
    width: 96%;
    margin: 0 auto;
}
.arch_box1 {
    display: flex;
    background-color: white;
    width: 100%;
    height: 250px;
    margin-left: 1px;
    margin-right: 1px;
    color: gray;

}
.arch_foto_box {
    display: flex;
    width: 100%;
}
.arch_foto_twee_box {
    display: flex;
    width: 100%;
}
.arch_picture {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.arch_picture_twee {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.arch_box2 {
    display: flex;
    background-color: white;
    width: 100%;
    height: 250px;
    color: gray;

}
.h5_h5 {
    margin-top: -10px;
    margin-bottom: 4px;
    padding: 0px;

}
#div_titel_h5_h5 {
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: white ;
}
.arch_footer {
    background-color: springgreen;
    border: 5px solid black;
    margin-top: -20px;
    width: 102%;
    margin-left: -10px;
    /* margin-right: 31px; */
    padding: 0;

}
.arch_footer_tekst {
    color: springgreen;


}
.wrapper_lente {
    background-color: white;
    width: 90%;
    margin: 0 auto;
}
.lente_box {

    margin-bottom: 10px;
    background-color: white;
    color: gray;
}
.lente_box_foto {
    width: 100%;
}
.lente_picture {
    width: 100%;
}
.tekst_lente_weertje {
    display: flex;
    justify-items: center;
    justify-content: center;
    color: #333333;
    margin-bottom: 15px;
}
#h3_lente {
    color: black;
    text-decoration-color: white;
    text-decoration: none;
}
.a_lente {




}
#titel_van_alles {

}
.div_vorige_volgende {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: red;
    text-decoration: none;
}